<div class="description">
    Haptics are to the touch, what graphics are to the eye. I collaborated with Modan Han
    in a joint project for a special topics course in Computer Graphics (CPSC 599) taught
    by Dr. Sonny Chan.
    <br><br>
    Our project consisted in calculating sphere-triangle intersections to deform 3D meshes
    based on the theoretical force a cursor would apply to these objects; and then render
    a feedback force of equal magnitude and opposite direction in the real world using
    a Novint Falcon haptic device.
    <div class="frame">
        <img src="/static/main/images/haptic1.jpg" style="height: 400px; width: 700px; object-fit: cover;">
        <img src="/static/main/images/haptic2.jpg" style="height: 400px; width: 700px; object-fit: cover;">
    </div>

    A Novint Falcon:
    <div class="frame">
        <img src="/static/main/images/Novint-Falcon-Haptic-device.png" style="height: 400px; width: 700px; object-fit: cover;">
    </div>


</div>