<div class="description">
    My honours thesis, conducted under Dr. Faramarz Samavati and with the Guidance of Troy
    Alderson at the University of Calgary. I studied how to extend Alderson's multi
    resolution scheme, which was suitable for spheres, to any arbitrary elliptical manifold.
    <br><br>
    By finding geometrical approaches to emulate spherical interpolation on ellipsoids
    the previous method could be adapted to new the topologies with no other modifications
    to the algorithm.
    <br><br>
    Ultimately we could, qualitatively, reduce or increase the number of points defining a
    closed curve in the surface of an ellipsoid while maintaining the general shape of the
    original curve.

    <div class="frame">
        <img src="/static/main/images/ES1.png" style="height: 400px; width: 700px; object-fit: cover;">
    </div>
    <div class="frame">
        <img src="/static/main/images/rcurve1.png" style="height: 600px; width: 300px; object-fit: cover;">
        <img src="/static/main/images/rcurve2.png" style="height: 600px; width: 300px; object-fit: cover;">
        <img src="/static/main/images/rcurve3.png" style="height: 600px; width: 300px; object-fit: cover;">
    </div>

</div>