<div class="description">
    Solar system orrery built for Introduction to Computer Graphics (CPSC 453) taught by
    Dr. Sonny Chan as part of an assignment.
    <br><br>
    Each planet and the Moon has a label with its information such as its name, mass
    orbit radius... (I put the Moon's label on Jupiter by accident, you can see it in the video).
    Each planet has all the satellites I could find textures for. The scales of the objects
    as well as the distances do not follow any realistic nor pgysical scale, they were chosen
    based on how qualitatively good I judged them to be.
    <br><br>
    The Earth uses 2 textures to simulate the transition from night to day. The camera
    follows and cancels its rotation with respect to the object to maintain focus on
    the selected body.

    <div class="frame">
        <iframe width="900" height="515" src="https://www.youtube.com/embed/Vy3u6Yq76Tw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</div>