<div class="description">
    A micro controller for the Raspberry Pi model 3, built from scratch as part of a
    special topics course in Operating Systems (CPSC 599) at the University of Calgary
    taught by Dr. Jalal Kawash. As well as a report on how to build such a micro controller.
    <br><br>
    Due to time constraints the 60 page report was not properly spell checked prior to
    submission and many spelling errors crept in, however the content itself remains
    useful for anyone interested in low level C/C++ or computer architecture.

    <div class="frame" style="margin-left: 0%; margin-right: 0%">
        <iframe style="width: 1200px; height: 1300px;" src="/static/main/documents/BuildingAKernelTutorial.pdf"></iframe>
    </div>
</div>