<div class="description">
    A simple implicit surface ray-tracer fully implemented in the GPU, featuring
    multiple bounce reflections and refraction transparency. Built as part of an
    assignment for Introduction to Computer Graphics (CPSC 453), taught by Dr. Sonny Chan
    at the University of Calgary.
    <br><br>
    The implicit surfaces displayed are spheres, triangles and planes. The implementation
    was in C++ and OpenGL.

    <div class="frame">
        <img src="/static/main/images/box-scene.jpg" style="height: 400px; width: 700px; object-fit: cover;">
    </div>

    <div class="frame">
        <img src="/static/main/images/box-scene2.jpg" style="height: 400px; width: 700px; object-fit: cover;">
    </div>

    <div class="frame">
        <img src="/static/main/images/box-scene3.jpg" style="height: 400px; width: 700px; object-fit: cover;">
    </div>
</div>