<div class="description">
    I am interested in procedural asset generation. I built a 3D voxel terrain generation
    as a personal project to study Perlin Noise and large mesh computing optimizations.
    <br><br>
    The program computes an octave combination of Perlin Noise on the GPU to generate a
    height map, which is then used to create the terrain.
    <br><br>
    Only the triangles on the exterior of the terrain are visible, which allowed me to
    store the information of large volumes of terrain but dedicate GPU resources to only
    a small fraction of the total number of possible triangles.
    <br><br>
    Low resolution Perlin Noise height map:
    <div class="frame">
        <img src="/static/main/images/perlin.jpg" style="height: 400px; width: 700px; object-fit: cover;">
    </div>

</div>