<div class="col-1" style="height: 200px"></div>
<div class="FText col-8">
    <div class="frame">
        <img src="static/main/images/sponza-big.png" style="height: 400px; width: 500px; object-fit: cover;">
        <img src="static/main/images/monkey.png" style="height: 400px; width: 500px; object-fit: cover;">
        <img src="static/main/images/drag2.png" style="height: 400px; width: 500px; object-fit: cover;">
        <img src="static/main/images/drag3.png" style="height: 400px; width: 500px; object-fit: cover;">
        <img src="static/main/images/sponza-normals.png" style="height: 400px; width: 500px; object-fit: cover;">
        <img src="static/main/images/spot-light.png" style="height: 400px; width: 500px; object-fit: cover;">
        <img src="static/main/images/vgi_poster.png" style="height: 400px; width: 500px; object-fit: cover;">
        <img src="static/main/images/hallway.png" style="height: 400px; width: 500px; object-fit: cover;">
        <img src="static/main/images/blocky-sponza.png" style="height: 400px; width: 500px; object-fit: cover;">
        <img src="static/main/images/blocky-sponza2.png" style="height: 400px; width: 500px; object-fit: cover;">
        <img src="static/main/images/uniform_ball.png" style="height: 400px; width: 500px; object-fit: cover;">
        <iframe width="500" height="400" src="https://www.youtube.com/embed/m2u0ag_exGU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <iframe width="500" height="400" src="https://www.youtube.com/embed/r4SBtVL63bg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</div>