<div class='col-1' style="height: 10px"></div>
<div class="col-9 FText" style="margin-top: 3%;">
    <div id="greeter">
        The screen is a canvas<br> and mathematics<br> my brush
    </div>
    <div>
        <div style="text-align: center">
            <img src="/static/main/images/normal_dragon.png" class="pDisplay" style="object-position: 35% 50%;">
            <img src="/static/main/images/magic_ball.jpg" class="pDisplay">
            <img src="/static/main/images/orrery.png" class="pDisplay">
        <div>
    </div>
</div>
