
<script src="static/main/scripts/projects.js"></script>

<div class="col-10" style="height: 450px" id="ProjDisp">
    <div class="projects" autofocus>
        <img class="cover" data-name="Voxel Global Illumination" src="static/main/images/sponza.png"/>
        <img class="cover" data-name="Spring Mass Simulation" src="static/main/images/curtains.png"/>
        <img class="cover" data-name="Implicit Surface Ray-Tracer" src="static/main/images/magic_ball.jpg"/>
        <img class="cover" data-name="Multi Resolution Scheme for Elliptical Manifolds" src="static/main/images/hrcurve.png"/>
        <img class="cover" data-name="Haptic Soft Bodies" src="static/main/images/baymax.png"/>
        <img class="cover" data-name="Voxel World" src="static/main/images/vWorld.png"/>
        <img class="cover" data-name="PiOS" src="static/main/images/canvas.png"/>
        <img class="cover" data-name="Boid Simulation" src="static/main/images/boids.png"/>
        <img class="cover" data-name="Orrery" src="static/main/images/orrery.png"/>
    </div>
    <div id="photos-info" style="margin-top: -40px">
        <div id="photos-name"></div>
    </div>
</div>
<div class="col-1" style="height: 550px"></div>
<div class="col-1" style="height: 10em"></div>
<div class="col-8 FText" id="projDesc">
    
</div>

