<div style="height: 10px" class="col-1"></div>
<article class="col-10" id="ResContainer">
    <div class="FText col-10">
        <div style="height: 400px">
        <div style="background-color: rgb(105, 6, 0); height: 300px">
            <img src="/static/main/images/monkey.png" alt="Avatar" id="Avatar" class="col-4">
            <div style="padding-left:auto; display: flex; flex-direction: column" class="col-8">
                <div id="Name" style="color: var(--border_color)">Camilo Talero</div>
                <div style="font-size: 30px; margin-left: 5%">Scientist in Computer Graphics</div>
            </div>
            <div style="padding-left: 10%" id="ButtonContainer" class="col-8">
                <div class="popup">
                    <div class="">
                    <img src="/static/main/images/mail.png" onclick="openPopup()" width="60px" height="60px">
                    </div>
                    <span class="popuptext" id="myPopup" style="width: 400px">
                        camilotalero96@hotmail.com
                        <button onclick="closePopup()" style="background-color: rgba(0,0,0,0)">
                                <img src="/static/main/images/close.png"  width="20px" height="20px">
                        </button>
                    </span>
                </div>
                <a target="_blank" href="https://github.com/Makogan">
                    <img src="/static/main/images/GitHub-Mark.png" width="60px" height="60px" >
                </a>

                <a target="_blank" href="https://gitlab.com/Makogan">
                    <img src="/static/main/images/gitlab_logo.png"  width="60px" height="60px">
                </a>

                <a target="_blank" href="https://www.linkedin.com/in/camilo-talero-3906a9167/">
                    <img src="/static/main/images/linkedin_logo.png"  width="60px" height="60px">
                </a>
            </div>
        </div>
        </div>

        <div id="LeftRes" class="col-6">
            <span class="ResHead" style="color:var(--border_color)">
                Work Experience
            </span >
            <h3 style="color:var(--border_color)">Graphics developer<span style="float:right;">September 2018-Present</span></h3>
            <h4 style="color:var(--border_color)">
                Leap Tools
            </h4>
            <p>I work at Leap Tools developing and improving an augmented reality AR rendering
                engine. My role is to find ways to improve the graphic quality of rendered
                assets within the constraints imposed by mobile devices. I use OpenGL, C++,
                and other software tools to implement or use algorithms such as Perlin Noise
                SSRT, ambient occlusion techniques... to achieve a balance of performance
                and quality when rendering assets in any web browser, on any device.
            </p>
            <hr>
            <h3 style="color:var(--border_color)">Researcher <span style="float:right;">June-August 2017</span></h3>
            <h4 style="color:var(--border_color)">
                University of Calgary, Engineering Department
            </h4>
            <p>I conducted payed research under Dr. Mozdeh Shahbazi in extracting text
                locations from from collected natural images. My role consisted in applying
                Neural Network based algorithms and classical algorithms to identify the
                location of fuse box labels in pictures communication towers.
            </p>
            <hr>
            <h2 style="color:var(--border_color)">
                Additional Experience
            </h2>
            <h3 style="color:var(--border_color)">Researcher <span style="float:right;">September 2017 - April 2018</span></h3>
            <h4 style="color:var(--border_color)">
                University of Calgary
            </h4>
            <p>
                I did my thesis under Dr. Faramarz Samavati from the University of Calgary. I
                studied how to extend a multi-resoluton scheme adapted for spheres to any
                elliptical 2D manifold.
            </p>
            <hr>

            <span  class="ResHead" style="color:var(--border_color)">
                    Education
                </span >
                <h3 style="color:var(--border_color)">BSc in Computer Science<br> with a minor in Pure Mathematics <span style="float:right;">2014-2018</span></h3>
                <h4 style="color:var(--border_color)">
                    University of Calgary
                </h4>
                <p>My name was placed in the Faculty of Science's Dean's List every semester since enrolment</p>
        </div>

        <div class="col-6">
            <span  class="ResHead" style="color:var(--border_color)">Skills</span >
            <h2 style="color:var(--border_color)">Mathematics</h2>
            <ul>
                <li>I am very confident in linear algebra, 3D geometry and multivariate calculus. </li>
                <li>I am confident in statistics, numerical methods and classical mechanics. </li>
            </ul>
            <h2 style="color:var(--border_color)">Programming</h2>
            <ul>
                <li>I am very confident programming in C, C++; I am also very familiar with OpenGL. </li>
                <li>I am confident with python, javascript, Typescript, CSS, HTML, java and C#. </li>
                <li>I am familiar with ARM assembly, prolog and haskell. </li>

            </ul>
            <hr>
            <h2 style="color:var(--border_color)">Other Skills</h2>
            <h3 style="color:var(--border_color)">Computer Hardware</h3>
            <p>
                I like playing around with gadgets. I have built all of my computers since
                2014; I turned my raspberry pi into a retro video game console; and I keep
                up with new Hardware, on particular GPU's.
            </p>
            <h3 style="color:var(--border_color)">Languages</h3>
            <p>
                I am fully fluent in Spanish and French and I have beginner's proficiency
                in written and spoken Japanese.
            </p>
            <hr>
            <span  class="ResHead" style="color:var(--border_color)">
                Hobbies
            </span >
            <p>
                Computer Graphics above and beyond anything, then video games, anime, history,
                literature and pretending I will eventually start exercising.
            </p>
        </div>
    </div>

    <div class="col-1 FText">
        <a href="/uploads/resume" download id="resDB">
            <img src="/static/main/images/Download-Icon.png" width="60px" height="60px" >
        </a>
    </div>
</article>
