* {
    box-sizing: border-box;
}

@media only screen and (max-width:1900px) {
    body {
        width: 1900px;
    }
}

@media only screen and (min-width:1900px) {
    body {
        width: 1900px;
    }
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    /*border: 1px solid red;*/
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
html {
    font-family: "Lucida Sans", sans-serif;
}

body {
    background-image: url("images/tree.jpg");
    background-color: black;
    background-size: 1920px 1200px;
    background-attachment: fixed;
    overflow: visible;

    --text_color: white;
    --button_background_color: rgba(0,0,0,0.6);
    --text_background_color: rgba(255, 174, 0, 0.7);
    --border_color: rgb(255, 174, 0);
    --back_color: rgba(30,30,30,0.95);
}

button {
    outline: 0;
    border: none;
    background: none;
}

.FText {
    padding: 1%;
    background-color: var(--back_color);
    border-radius: 0;
    color: var(--text_color);
}

.TopHeader {
    background-color: var(--text_background_color);
    color: var(--text_color);
    font-size: 350%;
    text-align: center;
    border-radius: 50px;
    display: inline;
}

#FirstHead {
    width: 50%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: calc((100% - 50%) / 2);
}

#MainText {
    background-color: var(--text_background_color);
    color: var(--text_color);
    border-radius: 50px;
    display: inline;
}

.NavButton {
    background-color: var(--button_background_color);
    color: var(--border_color);
}

.NavButtonS {
    background-color: var(--text_background_color);
    color: var(black);
}

.fixed {
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    text-align: center;
    line-height: 10px;
    border-radius: 10px;
    margin-top: 10px;
    position: relative;
}

.menu li button {
    font-size: 110%;
    width:100px;
    height:100px;
    display:inline-block;
    text-align:center;
    position:relative;
    border-radius:100%;
    border-color: var(--border_color);
    border-style: solid;
    border-width: 2px;
}


.menu li:first-child::before {
    display: none;
}


.menu li::before{
    content: '';
    position: absolute;
    left: calc(50% - 2px);
    top: -10px;
    width: 3px;
    height: 10px;
    background: var(--border_color);
    z-index: -1;
}

.menu li button:hover {
    background-color: var(--text_background_color);
}

*::-moz-focus-inner {
    border: 0;
}

* {
    text-decoration: none;
    outline: 0;
}