@font-face {
    font-family: Amethyst;
    src: url("fonts/Amethyst.ttf");
}

#greeter {
    word-spacing: 15px;
    font-size: 120px;
    font-family: Coves;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    padding-bottom: 5%;
    padding-top: 5%;
}

.pDisplay {
    border-radius: 1000px;
    width: 128px;
    height: 128px;
    object-fit: cover;
    border: 2px;
    border-width: 2px;
    border-color:rgba(255, 174, 0, 0.4);
    border-style: solid;
    margin-left: 3%;
    margin-right: 3%;
}