<style>
	table {
		border-collapse: collapse;
	}
	td, th {
    	border: 1px solid #dddddd;
    	text-align: left;
    	padding: 8px;
	}
</style>

<div class="slideshow-container">
	<div class="mySlides fade">
		<div class="numbertext">1 / 2</div>
		<img src="/static/MathLog/images/LagrangeBasis.png" style="width:100%">
		<div class="text">Added: Lagrange interpolation</div>
	</div>
	<div class="mySlides fade">
		<div class="numbertext">1 / 2</div>
		<img src="/static/MathLog/images/b-spline-curve.svg" style="width:100%">
		<div class="text">Next: B-splines</div>
	</div>

	<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
	<a class="next" onclick="plusSlides(1)">&#10095;</a>

	</div>
	<br>

	<div style="text-align:center">
		<span class="dot" onclick="currentSlide(1)"></span>
		<span class="dot" onclick="currentSlide(2)"></span>
	</div>
</div>

<div>
	<div style="text-align: center">
	<h2>Pending Topics</h2>
	<div>
	<ul style="text-align: left; margin-left:40%">
		<li>B-spline interpolation</li>
		<li>Perlin noise</li>
		<li>Voronoi noise</li>
		<li>Convolution</li>
	</ul>
	</div>
	</div>

	<div>
		<h1>Common terms and definitions</h1>

		<table>
			<tr>
				<th> Term </th>
				<th> Definition </th>
				<th> Examples </th>
			</tr>
			<tr>
				<td>Control Point</td>
				<td>
					A control point $c$ is an element of a vector space $V$ used to define
					the geometric properties of certain parametric objects such as a
					B-spline curve or a Bezier surface.
				</td>
				<td>
					$(x,y) \in \mathbb{R}^2$<br>
					$(x,y,z) \in \mathbb{C}^3$<br>
					$x \in \mathbb{N}$<br>
					Any matrix over the reals
				</td>
			</tr>
			<tr>
				<td>Knot</td>
				<td>
					An element of an ordered scalar set, usually $\mathbb{R}$ used to construct
					function from a parameter. For example the sequence $[0,0.1,2,3, \pi]$
					can be used in conjunction of a parameter $t \in \mathbb{R}$ to build
					a B-spline curve (Read the Lagrange interpolation and B-spline sections
					for an extensive example of knot sequences)
				</td>
				<td>
					$[0,1,2,3]$<br>
					$[-3,2,\pi]$<br>
					$[0,0,0,3,3,3,2,2,2]$<br>
				</td>
			</tr>
			<tr>
				<td>Parametric Curve/Surface</td>
				<td>
					A geometric object constructed using one or more parameters.<br>
					A parametric
					curve is a curved line (formally a 1D manifold) whose points can be
					described with a relation on a parameter $t$. In other words it is a
					function from the reals onto a vector space.<br>
					A parametric surface is similar, except it is a function from
					$\mathbb{R}^2$ onto any vector space. <br>
					Commonly the target vector space is either $\mathbb{R}^2$ or $\mathbb{R}^3$
				</td>
				<td>
					$r(t) = &lt t^2, t&gt$ <br>
					$s(u, v) = &lt u^2+v, u + v^2, u+v &gt$<br>
					B-splines and B-spline surfaces
				</td>
			</tr>
		</table>
	</div>
</div>
<script>
	var slideIndex = 1;
	showSlides(slideIndex);

	function plusSlides(n) {
		showSlides(slideIndex += n);
	}
	
	function currentSlide(n) {
		showSlides(slideIndex = n);
	}

	function showSlides(n) {
		var i;
		var slides = document.getElementsByClassName("mySlides");
		var dots = document.getElementsByClassName("dot");
		if (n > slides.length) {slideIndex = 1}
		if (n < 1) {slideIndex = slides.length}
		for (i = 0; i < slides.length; i++) {
			slides[i].style.display = "none";
		}
		for (i = 0; i < dots.length; i++) {
			dots[i].className = dots[i].className.replace(" active", "");
		}
		slides[slideIndex-1].style.display = "block";
		dots[slideIndex-1].className += " active";
	}
</script>

