@media only screen and (max-width:800px) {
    body {
        width: 800px;
    }
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    /*border: 1px solid red;*/
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.ind-1 {margin-left: 7%}
.ind-2 {margin-left: 14%}
.ind-3 {margin-left: 21%}
.ind-4 {margin-left: 28%}
.ind-5 {margin-left: 35%}

.size-1 {font-size: 100%}
.size-2 {font-size: 80%}
.size-3 {font-size: 60%}
.size-4 {font-size: 40%}
.size-5 {font-size: 20%}

html {
    font-family: "Lucida Sans", sans-serif;
}

body {
    --text_color: white;
    --button_background_color: rgba(221, 221, 221, 0.644);

    background-color:var(--text_color);
}

button {
    border-style: none;
}

.menu {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    position: sticky;
    position: -webkit-sticky;
    top: 40px; /* required */
    height: 93.52vh;
    border-right: 2px solid rgb(177, 177, 177);
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li{
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.menu li button {
    font-size: 110%;
    padding: 10px;
    width: 260px;
    max-width: 260px;
    text-align:left;
}

.menu li button:hover {
    font-weight: 600;
    background-color: var(--button_background_color);
}

.NavButton {
    background-color:rgba(0, 0, 0, 0);
}

.NavButtonS {
    background-color: var(--button_background_color);
    font-weight: 600;
    border-right: 3px rgb(255, 102, 0) solid;
}

button:focus {
    outline: none; 
}
button::-moz-focus-inner {
    border: 0;
}

.expandable {
    transition: 0.4s;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in;
}

.span {
    word-wrap: break-word;
}

#topNav {
    margin: 0px;
    width: 100%;
    height: 40px;;
    overflow: hidden;
    list-style-type: none;
    color: white;
    background-color: rgb(22, 16, 99);
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */
    z-index: 1;
}

.pre {
    padding-left: 100%;
}

input[type=range]::-moz-focus-outer {
    border: 0;
}