<!DOCTYPE html>
<html>
<head>
	<title>Camilo Talero</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Cache-control" content="no-cache">

	<link rel="shortcut icon" href="/static/MathLog/images/integralT.ico">
	<link rel="stylesheet" type="text/css" href="/static/MathLog/general.css"/>
	<link rel="stylesheet" type="text/css" href="/static/MathLog/show.css"/>
	<link rel="stylesheet" href="/static/MathLog/styles/github-gist.css">

	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async>
		MathJax.Hub.Config({
  			tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
		});
	</script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjs/5.2.3/math.js'></script>
	<script src='/static/MathLog/gl-matrix/dist/gl-matrix-min.js'></script>
	<script src='/static/MathLog/scripts/curves.js'></script>
	<script src='/static/MathLog/scripts/WebGL.js'></script>

</head>

<body style="margin: 0">

<div class="row">
	{% include  "MathLog/navigation-menu.html"%}
	<section id="VolatileSection" class="col-6">

	</section>
</div>

<script src="/static/MathLog/scripts/page_change.js?ver=1.0"></script>
</body>
</html>
