<div id="topNav"></div>
<div class="col-3 menu" style="padding-right: 0px;">
    <ul>
        <li class="visible">
            <button id="home_button" onclick="setHome()" class="NavButton">
                <img src="/static/MathLog/images/world_icon.svg" width="16px" height="16px">
                <span>Home</span>
            </button>
        </li>

        <li class="visible">
            <button id="modelling_button" onclick="setModelling()" class="NavButton">
                <img src="/static/MathLog/images/polyhedra.svg" width="16px" height="16px">
                <span>
                    Modelling
                </span>
            </button>
        </li>
        <li class="visible expandable" id="modelling_sublist">
            <ul class="col-12" style="padding: 0; margin:0">
                <li>
                <button id="lagrange_button" onclick="setLagrange()" class="NavButton">
                    <span class="ind-1 size-2">
                        Lagrange Interpolation
                    </span>
                </button>
                </li>
                <li>
                <button id="spline_button" onclick="setSpline()" class="NavButton">
                    <span class="ind-1 size-2">
                        B-Splines
                    </span>
                </button>
                </li>
            </ul>
        </li>
        <li style="position: relative">
            <button id="calculus_button" onclick="" class="NavButton">
                <img src="/static/MathLog/images/sphere_mesh.svg" width="16px" height="16px">
                <span>Calculus</span>
            </button>
        </li>
    </ul>
</div>